/*-----------------------------HTML ELEMENTS-------------------------------------------*/

body{
    font-family: 'Montserrat';
    text-align: center;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold';
    

}


p{
    color:#8f8f8f ;
}


/*--------------------------------CLASSES------------------------------------------------*/

/* Title Section */

.big-heading{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
.container-fluid{
    padding: 7% 15%;
    
}


.image-container{
    position: relative;
}

.title-image{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubantu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}



.download-button{
    margin: 5% 3% 5% 0;
}




/* Features Section */

.icon{
    color: #ef8172;
    margin-bottom: 1.5625rem;
}

.icon:hover{
    color: #ff4c68;
}

.features-title{
    line-height: 1.5rem;
    font-weight: bold;
}




.features-box{
    padding: 1.875rem;
}



/* Testimonial Section  */

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.Press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}




/* Pricing Section */

.pricing-heading{
    font-size: 3rem;
    line-height: 1.5;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-box{
    padding: 3% 2%;
}







/* Footer Section */
.icon-footer{
    margin: 20px 10px;
}


/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;

}


@media (max-width:1028px){
    .image-container{
        position: static;
    }
    .title-image{
        position: static;
        transform: rotate(0);

    }

    #title{
        text-align: center;
    }

}







/*---------------------------------ID'S----------------------------------------------------*/



#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}



#features{
    position: relative;
    z-index: 1;
}

#testimonials{
    background-color: #ef8172;

}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

#pricing{
    padding: 100px;
}

